html {
    background: url(images/fonds.jpg) no-repeat center fixed;
    -webkit-background-size:cover;
}



#header {
    font-family: avenir next;
    color: white;
    z-index:1;
    width: 100%;
    height:100px;
}

@media screen and (max-width:600px) {
    nav a {
        font-size:12px;
    }
}
#round {
    background-color:transparent;
    width: 22%;
    height: 10%;
    margin-left:8%;
    float:left;
    margin:center;
    margin-top: 5%;
    text-align:center;
    font-size-adjust: auto;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    border:solid white;
    
}


#round:hover {
    background-color: white;
    color:pink;
}

a {
    text-decoration:none;
    color:inherit;
}

#center {
    width:90%;
    height:80%;
    background-color: white;
    border-radius:15px;
    border:pink;
    margin-top: 5%;
    float:left;
    margin-left:6%;
    margin-bottom: 10%;
    text-align:center;
}

    
h1 {
    display: inline-block;
    color:pink;
    border-top: 2px solid pink;
    border-bottom: 2px solid pink;
    text-align: center;
    font-family:avenir next;
    font-size:400%;
    padding: 0px 0px 0px 0px;
}

.title-wrapper {
    text-align:center;
}


.gallery li {
    margin:auto;
    text-decoration: none;
    list-style: none;
    width:30%;
    display: inline-block;
}
.gallery li img{
    border-radius:25px;
    width:100%;
    
}

h4 {
    color: pink;
    font-family: avenir;
    font-size: 30px;
  
}

#pp {
    background-color:blue;
    width: 100px;
    height:100px;
    border radius:50px;
}

#pp img {
    border-radius: inherit;
    width:inherit;
    height:inherit
}


